package com.saar;

public class Main {

    public static void main(String[] args) {

        int num1 = 3;
        int num2 = 3;
        int[] arr = {1, 2, 3, 4, 5};

        //System.out.println(subtract(num1,num2));
        //System.out.println(multiply(num1,num2));
        //System.out.println(divide(num1,num2));
        //System.out.println(remainder(num1,num2));
        //System.out.println(power(num1,num2));
        //System.out.println(sqrt(num1));
        //int [] rev = reverseArr(arr);
        //printArr(rev);
        //System.out.println(sumArr(arr));
        //System.out.println(averageArr(arr));
        //System.out.println(isNumberArr(arr,num1));
        //System.out.println(sumOfOddsIndex(arr));
        //System.out.println(isOrderd(arr));
        //int[] db = doubleIndexArr(arr);
        //printArr(db);


    }

    public static int subtract(int x, int y) {

        int sum = 0;
        int small = x;
        int big = y;
        if (small > big) {
            big = x;
            small = y;
        }

        for (int i = small; i < big; i++) {
            sum++;
        }
        return sum;
    }

    public static int multiply(int x, int y) {

        int sum = x;
        for (int i = 1; i < y; i++) {
            sum += x;
        }
        return sum;
    }

    public static int divide(int x, int y) {

        int sum = 0;

        for (int i = x; i <= y; i += x) {
            sum++;
        }
        return sum;
    }

    public static int remainder(int x, int y) {

    return subtract(multiply(divide(x, y), x), y);

    }

    public static int power(int x, int y) {

        int sum = x;
        for (int i = 1; i < y; i++) {
            sum = multiply(sum, x);
        }
        return sum;
    }

    public static int sqrt(int x) {

        int sum = 0;
        int answer = 0;

        for (int i = 0; i < x; i++) {
            answer = i;
            sum = i * i;
            if (sum > x) {
                return answer - 1;
            } else if (sum == x) {
                return answer;
            }

        }
        return answer;
    }

    public static void printArr(int[] x) {
        System.out.print("[");
        for (int i = 0; i < x.length; i++) {
            System.out.print(x[i]);
            if (i < x.length - 1) {
                System.out.print(",");
            }
        }
        System.out.print("]");
    }

    public static int[] reverseArr(int[] x) {

        int[] reverse = new int[x.length];
        for (int i = 0; i < x.length; i++) {
            reverse[i] = x[x.length - 1 - i];
        }
        return reverse;
    }

    public static int sumArr(int[] x) {

        int sum = 0;
        for (int i = 0; i < x.length; i++) {
            sum += x[i];
        }
        return sum;
    }

    public static int averageArr(int[] x) {

        return divide(x.length, sumArr(x));
    }

    public static boolean isNumberArr(int[] x, int y) {

        for (int i = 0; i < x.length; i++) {
            int answer = x[i];
            if (answer == y) {
                return true;
            }
        }
        return false;
    }

    public static int sumOfOddsIndex(int[] x) {
        int odd = 0;
        int a = 0;
        int sum = 0;
        for (int i = 0; i < x.length; i++) {
            a = divide(2, x[i]);
            if (x[i] != multiply(a, 2)) {
                odd++;
                sum += x[i];
            }
        }
        return divide(odd, sum);

    }

    public static boolean isOrderd(int[] x) {

        for (int i = 1; i < x.length; i++) {

            if (x[i-1] > x[i]) {
                return false;
            }
        }
        return true;
    }

    public static int[] doubleIndexArr (int[] x) {

        int[] dbl = new int[multiply(x.length,2)];
        int a = 0;
        for (int i = 0; i < x.length; i++) {
            dbl[a] = x[i];
            dbl[a+1] = x[i];
            a += 2;
        }
        return dbl;
    }
}

